/*
* Page: basic.css
* Author: Lara Ter Linden
* Description: website about stars
* Revision history
* 0.1	1-11-2019	Lara Ter Linden		start
* 1.0	1-11-2019	Lara Ter Linden		einde
 */

body{
	background-color: #FBEDBE;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}

div{
	display: inline-block;
}

span{
	color: #771120;
	display: inline-block;
}

h1{
	color: #BBCFFF;
}

p{
	color: #771120;
}

.menu{
	display: inline-block;
}

/*-----------------------------------------------------------------------------------------*/

nav{
	background-color: #CCBB63;
	display: inline-block;
}

nav ul{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	list-style-type: none;
}

nav ul li{
	float: left;
	margin-left: 20px;
}

nav ul li a{
	display: block;
	padding: 8px;
	background-color: #BBCFFF;
	color: #771120;
	margin: 0px;

}

nav ul li a:hover{
	margin-top: 8px;
	padding-bottom: 0px;
}

.lower{
	margin-top: 8px;
	padding-bottom: 0px;
}

/*-----------------------------------------------------------------------------------------*/

p::first-line{
	font-size: 14px;
}

/*-----------------------------------------------------------------------------------------*/

table{
	border:3px solid #CCBB63;
	border-collapse: collapse;
	background-color: white;
}

tr:nth-child(even){
	background-color: #D1D0CE;
}

tr:nth-child(odd){
	background-color: #908F8F;
}

th{
	border:3px solid #CCBB63;
	background-color: white;
}

td{
	border:3px solid #CCBB63;
}

/*-----------------------------------------------------------------------------------------*/

.contact{
	background-color: #FBEDBE;
	color: #517D45;
}

.contactes{
	background-color: #FBEDBE;
	color: black;
}

.shadow{
	box-shadow: 5px 10px #000000;
}























